<button (click)="insertRandom()">
  random console
</button>

<br><br>

<button (click)="insertMemory()">
  fifo console
</button>

<br><br>

<button (click)="insertMemoryLFU()">
  lfu console
</button>

<br><br>

<button (click)="insertMemoryLRU()">
  lru console
</button>

<br><br>

<!-- <button (click)="insertMemoryLRU()">
  nru console
</button> -->

<br><br>

<br><br>

<div style="display:inline-flex">
  <div>
    <div class="display">
      nPages
    </div>
    <div class="display">
      counter
    </div>
    <div class="display">
      type
    </div>
    <div class="display">
      time
    </div>
  </div>
  <div *ngFor="let data of memoria">
    <div class="display">
      {{data.bloco}}
    </div>
    <div class="display">
      {{data.count}}
    </div>
    <div class="display">
      {{data.type}}
    </div>
    <div class="display">
      {{data.time | date:'ss:SSS'}}
    </div>
    <!-- {{data | json}}, -->
  </div>

</div>

<br><br>

<p>
  Readed Files: {{read}}
</p>

<p>
  Written Files: {{write}}
</p>

<p>
  hits: {{hitPage}} - misses: {{missPage}}
</p>

<p>
  hit: {{hitPage/loop*100}}%
</p>

<p>
  miss: {{missPage/loop*100}}%
</p>
